<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swipify.cuhacking">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <package android:name="com.spotify.music" />
    </queries>
</manifest>
